In [1]:
# importing the libraries

# Pandas seriees can be thought as a single column of an excel spreadsheet and each entry in a series corresponds to an individual row in the spreadsheet

import numpy as np
import pandas as pd

In [3]:
# creating a list of price of different medicines
med_price_list = [55, 25, 75, 40, 90]

# converting the med_price_list to an array
med_price_arr = np.array(med_price_list)

# converting the list and array into a Pandas series object
series_list = pd.Series(med_price_list)
series_arr = pd.Series(med_price_arr)

# printing the converted series object
print(series_list)
print(series_arr)

0    55
1    25
2    75
3    40
4    90
dtype: int64
0    55
1    25
2    75
3    40
4    90
dtype: int64

In [4]:
# changing the index of a series

med_price_list_labeled = pd.Series(med_price_list, index=['a', 'b', 'c', 'd', 'e'])
print(med_price_list_labeled)

a    55
b    25
c    75
d    40
e    90
dtype: int64

In [5]:
# the price of each medicine increased by $2.

med_price_list_labeled_updated = med_price_list_labeled + 2
print(med_price_list_labeled_updated)

a    57
b    27
c    77
d    42
e    92
dtype: int64

In [12]:
new_med_price_list = [77, 45, 100, 60, 850]
new_med_price_list_labeled = pd.Series(new_med_price_list, index=['a', 'b', 'c', 'd', 'e'])
print(new_med_price_list_labeled)

a     77
b     45
c    100
d     60
e    850
dtype: int64

In [13]:
print('difference between new and old price')
print(new_med_price_list_labeled - med_price_list_labeled_updated)

difference between new and old price
a     20
b     18
c     23
d     18
e    758
dtype: int64

In [15]:
# Pandas Dataframe - a 2-dimensional tabular data structure with labeled axes (rows and columns)

# Pandas Dataframe using list
student = ['Mary', 'Peter', 'Susan', 'Toby', 'Vishal']
df1 = pd.DataFrame(student, columns=['Student'])
df1

  Student
0    Mary
1   Peter
2   Susan
3    Toby
4  Vishal

In [17]:
# Pandas Dataframe using dictionary
# defining another list

grades = ['B-', 'A+', 'A-', 'B+', 'O+']

df2 = pd.DataFrame({'Student': student, 'Grade':grades})
df2

  Student Grade
0    Mary    B-
1   Peter    A+
2   Susan    A-
3    Toby    B+
4  Vishal    O+

In [19]:
year = pd.Series([2012, 2013, 2014, 2015, 2016, 2017, 2018])
energy_consumption = pd.Series([2152, 2196, 2217, 2194, 2172, 2180, 2258])

df3 = pd.DataFrame({'Year': year, 'Energy_Consumption': energy_consumption})
df3

   Year  Energy_Consumption
0  2012                2152
1  2013                2196
2  2014                2217
3  2015                2194
4  2016                2172
5  2017                2180
6  2018                2258

In [20]:
# Pandas Dataframe using random values

df4 = pd.DataFrame(np.random.randn(5,2), columns=['Trial 1', 'Trial 2'])
df4

    Trial 1   Trial 2
0  0.394957  0.477661
1  0.483506 -0.823196
2  0.637119 -2.490296
3 -0.115481  0.162440
4  0.492872  1.027839